
html{
	scroll-behavior: smooth;
}

* {
    scrollbar-width: none;
}

body{
	margin: 0;
	padding: 0;
}

/*  Home */

header{
	display: flex;
	background-color: blueviolet;
	align-items: center;
}

.titulo_home{
	background-color: aquamarine;
}

.nav_home{
	background-color: brown;
	width: 100%;
	text-align: center;
}

.home{
	background-color: green;
	display: flex;
}



.cont1_home{
	width: 50%;
	background-color: yellow;
}

.cont2_home{
	width: 50%;
	background-color: tomato;
}
/* Catologo */

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}

.div2, .div3, .div4, .div5, .div6, .div7{
	background-size: cover;
	width: 200px;
	height: 200px;
	
}

.div1 {
    grid-row: span 2 / span 2;
}

.div5 {
    grid-column-start: 2;
    grid-row-start: 2;
}

.div6 {
    grid-column-start: 3;
    grid-row-start: 2;
}

.div7 {
    grid-column-start: 4;
    grid-row-start: 2;
}

/* Footer */

footer{
	background-color: #a3a3a3;
}

.icon_redes{
	width: 45px;
}